$purple-light: #C648EF;
$purple-normal: #A411D4;
$purple-dark: #8501B0;

$yellow-light: #F4DB4B;
$yellow-normal: #E4C516;
$yellow-dark: #CBAE0C;

$gray-100: #E7E7E7;
$gray-200: #ADA8AD;
$gray-300: #878387;
$gray-400: #665E66;
$gray-500: #3B333B;
$gray-600: #292329;
$gray-700: #211D21;
$gray-800: #171317;
$gray-900: #0F0C0F;

$purple-gradient: linear-gradient(to right, $purple-light, $purple-dark);
$yello-gradient: linear-gradient(to right, $yellow-light, $yellow-dark);