@import "../../colors";

.main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 80px);
    margin-left: 80px;
}

.perfil_user {
    background-color: #A411D4;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
}

.cockpit_filmes_adm {
    padding-left: 22px;
    padding-right: 20px;
    justify-content: space-between;
    margin: 48px 0;
    align-items: center;

    .search_input {
        display: flex;
        position: relative;
        align-items: center;
        border-radius: 999px;
        border: none;

        padding: 12px 20px;

        color: $gray-400;
        background: $gray-800;
        transition: .4s;
        cursor: pointer;
        font-weight: 600;

        input{
            background-color: transparent;
            border: none;
            
        }

        &:hover {
            filter: brightness(1.1);
        }

        span {
            // position: absolute;
           
            margin-right: 20px;
        }
    }

   
}
i{
    color: $gray-100;
}

