@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@100,200,300,400,500,600,700,800,900&display=swap');
@import "./colors";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body{
    display: flex;
    position: relative;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    
    background: $gray-900;
    color: $gray-100;
}

img{
    width: 100%;
}

.container{
    position: relative;
    width: 100%;    
    max-width: 1260px;
}

.big_container{
    position: relative;
    width: 100%;    
    max-width: 1600px;
}

.border{
    border: 1px solid red;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_style{
    display: block;

    border-radius: 999px;
    border: none;

    padding: 12px 20px;

    color: $gray-400;
    background: $gray-800;
    transition: .4s;
    cursor: pointer;
    font-weight: 600;

    &:hover{
        filter: brightness(1.1);
    }
}